<div class="container-fluid">
<form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
<div class="col-md-4">
  <div class="form-group">
    <div *ngFor="let form_elem of formTemplate; let i = index">
        {{form_elem.question}}
    <div [ngSwitch]="form_elem.type">
      <div *ngSwitchCase="'select'">
        <select class="form-control" formControlName="{{form_elem.question}}" required>
          <option *ngFor="let opt of form_elem.options" >
            {{opt}}
          </option>
        </select>
      </div>
      </div>
    <button class="btn btn-primary" type="submit">save</button>
    <button class="btn" (click)="changeIndex(i)">click me</button>
  </div>
</div>
</div> 
</form>

</div>